<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PPCP Standard</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/minstyle.io@2.0.1/dist/css/minstyle.io.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>  
       
  </head>    
  <body>
      <div class="container">
          <div class="row">  
            <div class="col-sm"></div>
            <div class="col-sm">     
              <!-- Titre centré -->
              <h2 class="ms-text-center">PAIEMENT</h2>    

              <div class="pb-2">  
                <!-- Texte sur deux lignes avec <br> -->
                <div style="display: flex; flex-direction: column; align-items: center;">
                  <span>Total incluant les frais de livraison : </span>
                  <span id="total-price" style="margin-top: 10px; font-weight: bold;">$72.18 USD</span>
                </div>      
                         
              </div>        

              <div id="alerts" class="ms-text-center"></div>   

              <div id="loading" class="spinner-container ms-div-center">
                <div class="spinner"></div>         
              </div>  

              <div id="content" class="hide">    
                <div class="ms-card ms-fill">
                  <div class="ms-card-content">
                    <img src="/paypal.png" alt="Logo PayPal" style="width:200px;">
                  </div>               
                </div>
                <div id="payment_options"></div>        
              </div>      
            </div>
            <div class="col-sm"></div>
          </div>
      </div>

      <!-- index.html -->  
              
    <script>
          window.cartData = <%- CART_DATA %>; 
  
          if (window.cartData) {
          const dollar_sign = "$"; 
          const total = window.cartData.total;
          const currency = window.cartData.currency;

          console.log("Affichage de window.cartData");
          console.log(window.cartData);   
  
          // Affiche dans le span
          const priceElement = document.getElementById('total-price');
          if (priceElement) {
              priceElement.textContent = `${dollar_sign}${total} ${currency}`;
          }  
     
         

          // const formatted = new Intl.NumberFormat('en-US', {
          // style: 'currency',
          // currency: currency
          // }).format(total); 

          // priceElement.textContent = formatted;
            
         }
         
         
    </script>  
      
     
  </body>
    
</html>
